// pure colors
$color-black: #000;
$color-grey: #c2c2c2;
$color-white: #fff;
$color-organge: #ff6c50;
$color-dark-blue: #006a87;
$color-turquoise: #26deeb;

// named colors
$brand-blue: $color-dark-blue;
$brand-orange: $color-organge;
$background-default: $color-white;
$background-hover: $color-grey;
$text: $brand-blue;
$text-inverted: $color-white;

// status
$active: $brand-orange;
$deactive: $color-grey;

// table
$table-background: $background-default;
$table-header-background: $brand-orange;
$table-header-text: $text-inverted;
$table-border: $brand-blue;
$table-border-inverted: $text-inverted;
$table-row-hover: $background-hover;

// buttons
$primary-button: $brand-orange;
$secondary-button: $brand-blue;
