@import './_variables.scss';

@font-face {
  font-family: "Freebooter Scirpt";
  src: local("Freebooter Scirpt"),
   url(./fonts/FREEBSC_.ttf) format("truetype");
}

h1,
.title {
  margin: 0 0 $font-size-large;
  font-size: $font-size-larger;
  line-height: 1.2;
}

@media screen and (min-width: $screen-medium) {
  h1,
  .title {
    margin: 0 0 $font-size-larger;
    font-size: $font-size-big;
  }
}

@media screen and (min-width: $screen-large) {
  h1,
  .title {
    margin: 0 0 $font-size-big;
    font-size: $font-size-biggest;
  }
}


.paragraph {
  margin: 0 0 $font-size-paragraph;
  font-size: $font-size-normal;
  line-height: 1.2;
}

.table-data,
.label {
  margin: 0;
  font-size: $font-size-paragraph;
  line-height: 1.8;
}